<%= form_for(@post) do |f| %>
  <div>
    <p><%= f.label :title %></p>
    <p><%= f.text_area :title %></p>
    <p><%= f.label :content %></p>
    <p><%= f.text_area :content, cols: "50", rows: "30" %></p>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>